<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/app.js"></script>
    <script src="/js/chat.js"></script>
    <script>
        
        
        const chatSend = async()=>{
            //const element = document.getElementById('chatbox-input')
            //await app.sendMessage("user",element.value)
        }
        
    </script>
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to the Index Page</h1>
    <p>{{ message }}</p>
    
<my-chat></my-chat>
<my-chat></my-chat>
<my-chat></my-chat>
<my-chat></my-chat>
<my-chat></my-chat>
{{session}}
</body>
</html>